h1 {
	background-color: #5f965f;
	margin: 10px 50px 10px 50px;
	padding: 20px;
}

h2 {
	font-size: 15px;
}

body {
	background-color: lightgray;
}

.titluPagina {
	background-color: yellow;
}

.titluEnorm {
	font-size: 10px;
}

#username {
	font-size: 20px;
}